
<div class="jumbotron" style="margin-bottom:0; background:#2296BC;color:white;"  th:fragment="footer">
    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <h3>Company</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background:none;border:none;padding:5px;">About</li>
                    <li class="list-group-item" style="background:none;border:none;padding:5px;">Contact</li>
                </ul>


            </div>
            <div class="col-md-4">
                <h3>Legal</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background:none;border:none;padding:5px;">Privacy Policy</li>
                    <li class="list-group-item" style="background:none;border:none;padding:5px;">Return Policy</li>
                </ul>
            </div>
            <div class="col-md-4">

                <div class="row-md-12">
                    <h2>Follow Us</h2>
                    <span class="rounded" style="padding:5px;margin:2px;">Facebook</span>
                    <span class="rounded" style="padding:5px;margin:2px;">Twitter</span>
					<span class="rounded" style="padding:5px;margin:2px;">Instagram</span>
                    <span class="rounded" style="padding:5px;margin:2px;">Linkedin</span>
                </div>

                <hr>

            </div>

            <div class="col-md-12">
                <br>
                <p>All trademarks are properties of their respective owners. 2020-2022 © SportClub.All rights reserved
                </p>
            </div>
        </div>
    </div>
</div>