<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragment/header :: header"></head>
<body>

<div th:replace="fragment/navbar :: navbar"></div>
<section class="section-carasoul">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/Karnala5.jpg" alt="Los Angeles" width="1100" height="600">
            </div>
            <div class="carousel-item">
                <img src="/img/Karnala6.png" alt="Chicago" width="1100" height="600">
            </div>
            <div class="carousel-item">
                <img src="/img/Karnala3.jpg" alt="New York" width="1100" height="600">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</section>
<section class="intro-section">
    <h1 class="text-center new-h2">SPORTS CLUB</h1>


    <p>
        Every dream needs to be driven by passion to make it come true. Sports Club is one such dream, formed by keeping
        sheer passion for
        the gentleman's game-Cricket.
        Sports Club was conceived by a group of people headed by Chinubhai Chimanbhai; the then Mayor and
        leading businessman from Mumbai in 1965.
        "Sports Club" is a part of the Association which evolved with the objective of creating Sports & Recreational 
        facilities such as Football, Cricket, Skating, Karate, Squash, Badminton, Lawn Tennis, Table Tennis, Snooker/Billiards, 
        Bridge Room, Swimming, Scuba Diving, Gymnasium, Spa (Steam/Sauna/Jacuzzi/Massage), Zumba Fitness, Yoga etc.

    </p>
</section>
<br/>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/img/Cricket.jpg" alt="Card image cap" height="300px">
    <div class="card-body">
      <h5 class="card-title">Cricket</h5>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cricket">Details</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/Volleyball.jpg" alt="Card image cap" height="300px">
    <div class="card-body">
      <h5 class="card-title">Volleyball</h5>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cricket">Details</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/Football.jpg" alt="Card image cap" height="300px">
    <div class="card-body">
      <h5 class="card-title">Football</h5>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cricket">Details</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/Tennis.jpg" alt="Card image cap" height="300px">
    <div class="card-body">
      <h5 class="card-title">Tennis</h5>  
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cricket">Details</a>
    </div>
  </div>
</div>
<br/>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/img/TableTennis.jpg" alt="Card image cap" height="300px">
    <div class="card-body">
      <h5 class="card-title">TableTennis</h5>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cricket">Details</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/Hockey.jpg" alt="Card image cap" height="300px">
    <div class="card-body">
      <h5 class="card-title">Hockey</h5>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cricket">Details</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/Swimming.jpg" alt="Card image cap" height="300px">
    <div class="card-body">
      <h5 class="card-title">Swimming Pool</h5>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cricket">Details</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/img/Badminton.jpg" alt="Card image cap" height="300px">
    <div class="card-body">
      <h5 class="card-title">Badminton</h5>  
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cricket">Details</a>
    </div>
  </div>
</div>
<br/>
<section class="history-section">
    <h1 class="text-center new-h2">History</h1>
    <p>
        The Sports Club gets its flamboyant and elegant design in the heart of city from the renowned architect Charles
        Correa who also
        happens to be the designer of the soulful Gandhi Ashram. With a beautiful design and sprawling space; Sports
        Club has gradually
        spread its branches for other sports and has become an epitome of entertainment and leisure in the thriving city
        of Mumbai.
        Today, Sports Club is one of the most regal clubs of Mumbai and renowned for its state of the art amenities and
        splendid aura.
    </p>

</section>
<hr/>
<section class="Rules-section">
	<h1 class="text-center new-h2">Rules And Regulations</h1>
	<p>
	<b>1.</b>Outside Food and Beverages including Alcoholic Beverages and other consumables are not permitted to be brought into the Club.
	<br/>
	<b>2.</b>All Members shall ensure that they leave the Club premises before the closing time. The Club staff/security has been instructed to report the names of those Members who   contravene these Rules.
	<br/>
	<b>3.</b>Entry into the Club is not permitted in Night Suits, Lungis or loose Pyjamas. National dress suitably pressed may be allowed.
	<br/>
	<b>4.</b>Rubber/Hawaii chappals or Bathroom slippers are not permitted anywhere, in the Club except around the swimming pool area.
	<br/>
	<b>5.</b>Any change, such as address, phone nos. mobile nos. of all family members, e-mail addresses, birth, death, marriage, divorce, adoption or any other change in a Member's   family must be communicated to the Club with the relevant documents, within three months of the occurrence.
	<br/>
	<b>6.</b>ROLLER SKATES, ETC. ARE NOT PERMITTED IN THE CLUB PREMISES. WHEEL CHAIRS WHERE REQUIRED ARE PERMITTED. HOWEVER, MEMBERS MAY PARK THEIR BI-  CYCLES IN THE AREAS DESIGNATED BY THE MANAGING COMMITTEE FROM TIME TO TIME & ROLLER SKATES SHALL ONLY BE PERMITTED DURING SKATING CLASSES HELD IN THE CLUB PREMISES.
	<br/>
	</p>
</section>

<div th:replace="fragment/footer :: footer"></div>
</body>
</html>