<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragment/header :: header"></head>
<body>

<div th:replace="fragment/navbar :: navbar"></div>

<br/><br/>
<section class="member-register-section">
    <div class="entroll-form">
        <h1 th:text="${add} ? 'Manager:' : 'Edit:'"/>
        <form th:action="${add} ? @{/admin/manager/add} : @{/member/registration/{userId}/edit(userId=${contact.id})}"
              th:object="${contact}" method="POST">
            <div class="form-group">
                <label for="Name"> First Name </label> :
                <input type="text" th:field="*{firstName}"
                       placeholder="First Name" autofocus="autofocus"  class="form-control" required>
            </div>

            <div class="form-group">
                <label for="Name"> Last Name </label> :
                <input type="text" th:field="*{lastName}"
                       placeholder="Last Name"  class="form-control" required>
            </div>

            <div class="form-group">
                <label for="Name"> Email </label> :
                <input type="email" th:field="*{email}"
                       placeholder="Email"  class="form-control" required>
            </div>

            <div class="form-group">
                <label for="Name"> Password </label> :
                <input type="password" th:field="*{password}"
                       placeholder="Last Name"  class="form-control" required>
            </div>
 
            <div class="form-group">
                <label for="comment">Address:</label>
                <textarea class="form-control" rows="5" th:field="*{address}"  ></textarea>
            </div>

            <input class="btn btn-primary" type="submit" th:value="${add} ? 'Add' : 'Update'"/>
        </form>
    </div>
</section>
<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"/>



<div th:replace="fragment/footer :: footer"></div>
</body>
</html>