<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragment/header :: header"></head>
<body>

<div th:replace="fragment/navbar :: navbar"></div>


<div class="table-section">
    <a class="btn btn-info" th:href="@{/}">Back to Home</a>
    <h2 class="new-h2">Subscription List</h2>
    <table class="table table-hover table-striped table-dark">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Sport</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact : ${contacts}">
            <td><a th:utext="${contact.id}">...</a></td>
            <td><a th:utext="${contact.user.firstName}">...</a></td>
            <td th:utext="${contact.user.email}">...</td>
            <td th:utext="${contact.sport.sportName}">...</td>
            <td th:utext="${contact.status}">...</td>
            <td>
                    <span th:if="${contact.status == 'PENDING_ADMIN'}">
                            <form th:object="${assignManager}" th:action="@{/admin/assign/manager}"
                                  enctype="multipart/form-data" method="POST">
                            <div class="form-group">
                                <label for="manager-dropdown">Manager:</label>
                                <select class="form-control" required="required"
                                        name="managerId" th:id="'manager-dropdown'+${contact.id}">
                                    <option disabled="disabled" selected="selected"> -- Manager --</option>
                                    <option th:each="manager : ${manager_list}" th:value="${manager.id}"
                                            th:text="${manager.firstName}">
                                    </option>
                                </select>
                            </div>
                            <input type="hidden" name="subscriptionId" th:value="${contact.id}">
                            <button class="btn btn-primary" type="submit">Approve</button>
                            </form>
                        </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>


<div th:replace="fragment/footer :: footer"></div>
</body>
</html>